/build
/packages
//WebDriverTest/vs
/WebDriverTest/obj
/WebDriverTest/bin
/WebDriver/obj
/WebDriver/bin

# User-specific files
*.suo
*.user
*.sln.docstates

# Build results

[Dd]ebug/
[Rr]elease/
x64/
[Bb]in/
[Oo]bj/
